tod-process-template/src/main/mule/common/health.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="sf-health-check" doc:id="4c25373f-bd50-452e-83e4-c3f96d86c50e" >
		<http:request method="GET" doc:name="Request to SF" doc:id="f49af10a-7b73-4d24-9af3-162a3651e88c" config-ref="Salesforce_SAPI_Request_configuration" path="${salesforce.sapi.path.health}"/>
		<set-variable value='#[(vars.healthStatus default {}) ++ {"Salesforce":"UP"}]' doc:name="Set healthStatus" doc:id="0f5ff8ca-d9fe-458c-9b59-bc488893ca6e" variableName="healthStatus" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ddc47e26-8da4-4f3f-af24-8f2a10710f09" >
				<set-variable value='#[(vars.healthStatus default {}) ++ {"Salesforce":"Failed due to: " ++  (error.detailedDescription default "no additional information available")}]' doc:name="Set healthStatus" doc:id="d123cd63-2d57-4edf-9732-87ea55f019f5" variableName="healthStatus"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="db-health-check" doc:id="d2907eeb-b193-4893-935e-832b275c1024" >
		<http:request method="GET" doc:name="Request to DB" doc:id="b86066a3-2c45-46b0-9baf-037ffdbd81d5" config-ref="DB_SAPI_Request_configuration" path="${db.sapi.path.health}"/>
		<set-variable value='#[(vars.healthStatus default {}) ++ {"Database":"UP"}]' doc:name="Set healthStatus" doc:id="06ae6188-fbea-43d8-8b50-157df6232669" variableName="healthStatus" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c13d8e66-cc70-43a6-9652-ffba36e16c50" >
				<set-variable value='#[(vars.healthStatus default {}) ++ {"Database":"Failed due to: " ++  (error.detailedDescription default "no additional information available")}]' doc:name="Set healthStatus" doc:id="ad59a59d-4635-4c0c-aeac-369fbc35cdd4" variableName="healthStatus"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	
	<sub-flow name="check-heartbeat" doc:id="2f609879-85a0-4bf3-9551-13f312360de7" >
		<set-variable value="#[{}]" doc:name="Set Health Status" doc:id="b35dfdf7-1be0-4ed5-b1d8-0dd39739d2c4" variableName="healthStatus" />
		<flow-ref doc:name="SF Health Check" doc:id="feb4a6ab-1b89-4f14-83b0-70064434b894" name="sf-health-check" />
		<flow-ref doc:name="DB Health Check" doc:id="3a228d71-a7bb-46dd-8305-c0fa2c3b2343" name="db-health-check" />
		<set-payload value="#[output application/json --- vars.healthStatus]" doc:name="Set Payload to Health Status" doc:id="df4d2ce4-4208-41be-a76d-6e963de9b67c" />
	</sub-flow>
		
</mule>
