Async Apis/shipment-request-async-main/src/main/mule/shipment-request-async.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-asyncapi="http://www.mulesoft.org/schema/mule/apikit-asyncapi" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/apikit-asyncapi http://www.mulesoft.org/schema/mule/apikit-asyncapi/current/mule-apikit-asyncapi.xsd http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
  <flow name="LISTEN:publish-shipment-request">
    <apikit-asyncapi:message-listener config-ref="asyncapi-config" channelName="shipment-created">
      <apikit-asyncapi:servers>
        <apikit-asyncapi:server value="dev" />
      </apikit-asyncapi:servers>
    </apikit-asyncapi:message-listener>
    <logger level="INFO" message="#[payload]" />
  </flow>
	<flow name="shipment-request-asyncFlow" doc:id="fdf8080a-a0ca-489f-b20a-239c6f20dc17" >
		<scheduler doc:name="Scheduler" doc:id="1021c501-c5bd-45de-9e28-daf843e227cc" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="event" doc:id="fa29dd36-59a5-4663-8afe-ca44bd328dac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "shipment_id": uuid(),
  "paymentConfiguration": [
    "Check"
  ],
  "products": [
    {
      "name": "Product Name",
      "quantity": 1
    }
  ],
  "address": {
    "street": "645 Hulet Dr",
    "city": "Bloomfield Hills",
    "state": "MI"
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<apikit-asyncapi:publish channelName="shipment-queue" serverName="dev" doc:name="Publish" doc:id="412ce485-ec70-4f4c-bb4d-69757fdd749a" config-ref="asyncapi-config"/>
	</flow>
</mule>
