API templates/tod-sftp-template/src/main/mule/upload/upload-files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<flow name="upload-main" doc:id="3d0af703-6932-4b49-98f5-aea7ec180585" >
		<ee:transform doc:name="Decode Data" doc:id="e0571174-2b70-4c13-aafe-72cb07167f13" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/octet-stream
import * from dw::core::Binaries
---
fromBase64(payload.encodedData) as Binary]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalFileName" ><![CDATA[%dw 2.0
output application/java
---
payload.fileName]]></ee:set-variable>
				<ee:set-variable variableName="flowPoint" ><![CDATA[%dw 2.0
output application/json
---
"CREATE"]]></ee:set-variable>
				<ee:set-variable variableName="fullPath" ><![CDATA[%dw 2.0
output application/json
---
payload.filePath ++ "/" ++ payload.fileName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<sftp:write doc:name="Write File to SFTP" doc:id="7fd73103-81dd-47f5-8650-3ca43c84c3e1" config-ref="SFTP_Config" path="#[vars.fullPath]">
		</sftp:write>
		<ee:transform doc:name="Build Failure Message" doc:id="ded3228a-eb08-48cd-ad04-40821749d8fc" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.originalFileName,
  created: true,
  success: true,
  message: "Successfully created file at: " ++ vars.fullPath
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f6327197-28ff-485f-b3bb-8d014e112677" type="SFTP:ACCESS_DENIED, SFTP:CONNECTIVITY, SFTP:FILE_ALREADY_EXISTS, SFTP:FILE_LOCK, SFTP:ILLEGAL_CONTENT, SFTP:ILLEGAL_PATH, SFTP:RETRY_EXHAUSTED" >
				<flow-ref doc:name="Raise SFTP Cloudhub Notification" doc:id="7090c828-38ed-40d2-b6da-90f7ee5d77a3" name="sftpConnectivityException" />
				<ee:transform doc:name="Build Failure Message" doc:id="0f10a9cd-ef00-479d-b6d0-5b3bd853a267" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.originalFileName,
  created: false,
  success: false,
  message: "Failed during Error Processing on the " ++ (vars.flowPoint default "UNKNOWN") ++ " operation. Error Message: " ++ (error.detailedDescription default "No Additional Information")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e77b47f7-f175-4ae1-b4b7-4edbe6ceaf61" >
				<ee:transform doc:name="Build Failure Message" doc:id="a372fa44-e240-4677-9971-afb306bef2f6" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.originalFileName,
  created: false,
  success: false,
  message: "Failed during File Processing on the " ++ (vars.flowPoint default "UNKNOWN") ++ " operation. Error Message: " ++ (error.detailedDescription default "No Additional Information")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
