mule-api-template-project/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="mule-api-template-main">
        <http:listener config-ref="http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mule-api-template-config" />
    </flow>
    <flow name="get:\health-check:mule-api-template-config">
        <flow-ref doc:name="get:\resource:mule-api-template-impl" doc:id="2e200d83-daac-4e0e-a4ab-848259e1198a" name="get:\resource:mule-api-template-impl"/>
		<logger level="INFO" message="get:\resource:mule-api-template-config" />
    </flow>
    <flow name="get:\resource:mule-api-template-config">
        <flow-ref doc:name="get:\resource:mule-api-template-impl" doc:id="6b2b2067-2a3b-4049-bc3e-68e1815c0199" name="get:\resource:mule-api-template-impl"/>
		<logger level="INFO" message="get:\resource:mule-api-template-config" />
    </flow>
</mule>
