tod-process-template/src/main/mule/tod-process-template.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="tod-process-template-main">
        <http:listener config-ref="tod-process-template-httpListenerConfig" path="${https.basepath}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Basic Auth Validation" doc:id="c194aafa-eac3-406c-8fdb-41a3e55afdbd" name="validate-basic-authentication-header"/>
		<apikit:router config-ref="tod-process-template-config" />
        <error-handler ref="Common_Error_Handler" />
    </flow>
    <flow name="tod-process-template-console">
        <http:listener config-ref="tod-process-template-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="tod-process-template-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\heartbeat:tod-process-template-config">
        <logger level="INFO" message="get:\heartbeat:tod-process-template-config" />
        <flow-ref doc:name="Flow Reference" doc:id="9207ec14-5fb4-4353-83bd-c4a4980f114c" name="check-heartbeat" />
        <error-handler ref="Common_Error_Handler" />
    </flow>
    <sub-flow name="endpoint-not-enabled" doc:id="2cd975c4-686d-447f-9b37-db705c3ca143">
        <ee:transform doc:name="Endpoint Not Enabled" doc:id="168d4332-fa32-46ca-af8a-66bfa383b75d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Method Not Implemented. Please ensure endpoint is enabled in properties",
	"timestamp": now() as String{format: "yyyy-MM-dd'T'HH:mm:ss Z"}
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
501]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
    <flow name="get:\accountSync:tod-process-template-config">
        <logger level="INFO" message="get:\accountSync:tod-process-template-config" />
		<choice doc:name="Choice" doc:id="94c5d431-1f57-4ccd-a784-ad57b57c893b" >
			<when expression="#[((Mule::p('feature.account-sync') default false) as Boolean)]" >
				<flow-ref doc:name="Account Sync Main Flow" doc:id="a02bc438-2fb1-4bbf-a908-22a20bf4a724" name="account-sync-main" />
			</when>
			<otherwise >
				<flow-ref doc:name="Endpoint Not Enabled" doc:id="5f4d6190-d121-44d4-97c9-7d0e723bc631" name="endpoint-not-enabled" />
			</otherwise>
		</choice>
    </flow>
</mule>
