API templates/tod-salesforce-template/src/main/mule/tod-salesforce-template.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="api-config" api="tod-salesforce-template.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="HTTP_Listener_config" path="${https.basepath}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Validate Basic Authentication" doc:id="f51032ae-ba7b-40ac-9f51-daa5212234ff" name="validate-basic-authentication-header" />
        <apikit:router config-ref="api-config" />
        <error-handler ref="Common_Error_Handler" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\health:api-config">
        <flow-ref doc:name="Get Health Status" doc:id="8069a057-5f14-4209-92a3-49acc99708d4" name="active-health-check-flow" />
        <logger level="INFO" doc:name="Log Health Check Status" doc:id="d5975fdd-e8c7-4f3e-8723-8e8348ca18b7" message="#[output application/json --- payload]" />
    </flow>
    <flow name="get:\(object-name):api-config">
        <flow-ref doc:name="query-all-records" doc:id="26916edb-8a69-4412-880b-53f2f55f63b7" name="query-all-records" />
    </flow>
    <flow name="get:\(object-name)\filter:api-config">
        <flow-ref doc:name="query-filtered-recordsFlow" doc:id="c4dc4c0d-f358-4452-803f-0b4c52f92a40" name="query-filtered-recordsFlow" />
    </flow>
    <flow name="post:\(object-name):application\json:api-config">
        <flow-ref doc:name="create-new-recordsFlow" doc:id="a24d5938-45e9-45c6-a6e3-5d083261fbcb" name="create-new-recordsFlow" />
    </flow>
    <flow name="patch:\(object-name):application\json:api-config">
        <flow-ref doc:name="upsert-recordsFlow" doc:id="652c3fc9-541f-4313-af54-a4935b822606" name="upsert-recordsFlow" />
    </flow>
    <flow name="get:\(object-name)\filter\delta:api-config">
        <flow-ref doc:name="query-delta-recordsFlow" doc:id="d7477d22-f598-45d5-8338-902995aba669" name="query-delta-recordsFlow" />
    </flow>
    <flow name="put:\(object-name):application\json:api-config">
		<flow-ref doc:name="update-records" doc:id="d24413d9-901e-46ef-a635-7df516ff2c51" name="update-records"/>
    </flow>
</mule>
